<h1>Editing super user</h1>

<%= render "form", super_user: @super_user %>

<br>

<div>
  <%= link_to "Show this super user", @super_user %> |
  <%= link_to "Back to super users", super_users_path %>
</div>
