<div class = "text-center">
<h1>New movie ticket</h1>

<%= render "form", booked_ticket: @booked_ticket %>

<br>


<div>
  <%= link_to "Back to movie tickets", admins_new_movie_tickets_path, class: "btn btn-dark" %>
</div>
</div>